#foldable {
    width: 320px;
}
#form {
    margin-top: 10px;
}
.tt-icon-size {
    height: 18px !important;
    width: 18px !important;
}
.icon-spacing-right {
    margin-right: 12px;
    margin-top: 22px;
}
.icon-spacing-left {
    margin-left: 12px;
    margin-top: 24px;
}
.route-input-container {
    display: flex;
}
button.add-stop-btn {
    margin-left: 30px;
    margin-top: 24px;
}
.remove-btn {
    background-color: transparent;
    border: 0;
}
.remove-btn.hidden {
    visibility: hidden;
}
.waypoint-marker {
    align-items: center;
    background-color: #4a90e2;
    border: solid 3px #2faaff;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 32px !important;
    justify-content: center;
    text-align: center;
    width: 32px !important;
    will-change: unset !important;
}
.tt-icon-number {
    align-items: center;
    background: #ffffff;
    background-color: #8dc3eb;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.tt-search-box-input {
    width: calc(100% - 15px) !important;
}

html {
    height:100%;
}
